
$cerulean: #02B0D8;
$koromiko: #FCBA63;
$flamingo: #F04236;
$powder-blue: #AEDFE4;
$breaker-bay: #5A9FA5;
$thunder: #201D1E;
$athens-gray: #F1F1F2;
$viking: #6AC6DD;

.header {
  color: $breaker-bay;
  font-family: Arial, Helvetica, sans-serif
}
